@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;600&display=swap');

body {
    background: url('/media/hero-image.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    font-family: 'Signika Negative', sans-serif;
    font-weight: 300;
}

.bg-black {
    background-color: #000;
}

.navbar-bg {
    background-color: #000;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.text-black {
    color: #000;
}

.border-black {
    border: 1px solid black !important;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.nav-link {
    color: #000;
    text-decoration: None;
}

.btn-white {
    background: white;
}

.btn-black {
    background: #000;
}

.btn-slim {
    height: 30px;
    padding-top: 0.2rem;
}

.dropdown-menu {
    background-color: #000;
}

.dropdown-item {
    background: #000;
    color: white;
}

.dropdown-item:hover {
    background: white;
    color: #000;
}

.navbar-toggler-main i,
.navbar-toggler-mobile i{
    color: white;
    height: 3rem;
    width: 3rem;
}

#all-products-link,
#tops-link,
#pants-link,
#outfits-link {
    font-size: 24px;
}

.short-rule {
    width: 30%;
}

select,
select option {
    color: #000000;
    padding-left: 7px;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}

select {
    height: 40px;
}

/* Profile Page */
.retailer-form label {
    visibility: hidden;
}

#div_id_user label {
    visibility: hidden;
}

#div_id_user {
    height: 0;
}

/* Retailer Page */
.wallet-total {
    font-size: 20px;
}

/* Products */
.seller-name {
    font-size: 12px;
}

.bag_img {
    width: 200px;
    height: 200px;
}

.bag_img_sm {
    width: 150px;
    height: 150px;
}

.update-link,
.remove-link {
    cursor: pointer;
}

.bag-notifaction-wrapper {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.order-preview-wrapper {
    height: 60%;
    overflow-x: hidden;
    overflow-y: auto;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* -------------------------------- Media Queries */
@media (max-width: 321px) {
    .navbar-toggler-main{
        visibility: hidden;
        width: 0;
        height: 0;
        padding: 0;
    }
    .nav-link {
        width: 80%;
        padding: 4px 8px;
    }
    .nav-link p {
        font-size: 8px;
    }
    .nav-links{
        padding: 0;
        margin: 0;
    }
    .copyright-text{
        font-size: 10px;
    }
}
@media (min-width: 320px) {
    
    .nav-link{
        padding: 0.5rem;
    }
    .nav-link {
        width: 90%;
        padding: 4px 8px;
    }
    .nav-link p {
        font-size: 12px;
    }
    .nav-links{
        padding: 0;
        margin: 0;
    }
    .navbar-toggler-main{
        visibility: hidden;
        width: 0;
        height: 0;
        padding: 0;
    }
    .navbar-toggler-mobile {
        display: inline-block;
        padding: 8px;
    }
    .dropdown-item{
        padding: 4px 10px;
    }

    #all-products-link,
    #tops-link,
    #pants-link,
    #outfits-link {
        font-size: 16px;
        color: #ffff;
    }

    .hero-prompt {
        margin-top: 150px;
    }

    .copyright-text {
        font-size: 10px;
        margin-bottom: 0;
    }

    .allauth-form{
        margin-top: 150px;
    }

    .qty_input{
        padding: 10px;
    }
    .increase-qty,.decrease-qty{
        padding: 6px;
    }

    .control-text{
        font-size: 12px;
    }
    .site-products{
        margin-top: 30px;
    }

    .account-action{
        margin-bottom: 10px;
    }

    .bag-table{
        padding: 0 10px;
    }
    .bag_img{
        width: 100px;
        height: 100px;
    }
    .bag-item-name, .bag-item-sku,
    .bag-item-price, .bag-item-total{
        font-size: 12px;
    }
    .decrease-qty, .increase-qty{
        visibility: hidden;
        width: 0;
        height: 0;
    }
    .qty_input{
        padding: 0;
        margin-left: 5px;
    }
    .checkout-total, .checkout-actions{
        margin-left: 50px;
    }
    .cancellation-number{
        font-size: 18px;
    }
    .cancellation-request{
        margin-left: 5px;
    }
    .order-num{
        font-size: 24px;
    }

    .header-container {
        margin-top: 150px;
    }
    .orders-section{
        margin-bottom: 50px;
    }
    .product-details-section{
        padding-bottom: 50px;
    }
}

@media (min-width: 425px) {
    .navbar-toggler-main{
        visibility: visible;
        width: 50px;
        height: 45px;
        padding: 4px 12px;
    }
    .navbar-toggler-mobile{
        visibility: hidden;
        width: 0;
        height: 0;
        padding: 0;
    }
}

@media (min-width: 768px){
    .nav-link{
        padding: 0.75rem;
    }
    .decrease-qty, .increase-qty{
        visibility:visible;
        width: 36px;
        height: 38px;
    }
    .bag-table{
        padding: 0 15px;
    }
    .bag_img{
        width: 150px;
        height: 150px;
    }
    .bag-item-name, .bag-item-sku,
    .bag-item-price, .bag-item-total{
        font-size: 14px;
    }
    .quantity-form input{
        width: 50%;
    }
    .qty_input{
        padding: 5px;
        margin-left: 0;
    }
    .checkout-total, .checkout-actions{
        margin-left: 300px;
    }
    .order-num{
        font-size: 32px;
    }
    .current-cancel-request{
        margin-bottom: 2rem!important;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    
    .nav-link{
        padding: 0.5rem 1rem;
    }

    .dropdown-item{
        padding: 4px 24px;
    }

    #all-products-link,
    #tops-link,
    #pants-link,
    #outfits-link {
        font-size: 24px;
        color: #000000;
    }
    
    .navbar-bg {
        background-color: white;
    }
    
    .main-search-bar {
        height: 50px;
    }
    
    .header-container {
        padding-top: 50px;
    }
    
    .hero-prompt {
        margin-top: 120px;
    }
    
    .signup-prompt {
        margin-left: 300px;
    }

    .page-footer {
        margin-top: 100px;
        padding-top: 0;
        height: 30px;
    }
    
    .social-link {
        color: white;
        text-align: center;
        font-size: 15px;
        margin-top: 5px;
    }
    
    .copyright-text {
        text-align: center;
        font-size: 11px;
        margin-top: 5px;
    }
    
    .product-price{
        font-size: 1rem;
    }

    .change-details{
        margin-bottom: 50px;
        width: 280px;
    }
    
    .bag_img{
        width: 200px;
        height: 200px;
    }
    .bag-item-name, .bag-item-sku,
    .bag-item-price, .bag-item-total{
        font-size: 16px;
    }
    .cancellation-number{
        font-size: 20px;
    }
    
    .header-container{
        margin-top: 50px;
    }
    .product-details-section,
    .products-area,
    .add-product-container,
    .retailer-requests,
    .premium-cancel-requests,
    .order-cancellations,
    .profile-container,
    .order-view-container,
    .bag_view,
    .checkout-view,
    .order-review,
    .retailer-dashboard,
    .premium-success{
        margin-top: 100px;
    }
}

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}