<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-4" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products'%}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products'%}?seller=Tribal Fashion" class="dropdown-item ">By Tribal Fashion</a>
                <a href="{% url 'products'%}?seller=other" class="dropdown-item ">By Public Sellers</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-4" href="#" id="tops-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tops
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="tops-link">
                <a href="{% url 'products'%}?style=t-shirt" class="dropdown-item">T-Shirts</a>
                <a href="{% url 'products'%}?style=shirt" class="dropdown-item">Shirts</a>
                <a href="{% url 'products'%}?style=jumper" class="dropdown-item">Jumpers</a>
                <a href="{% url 'products'%}?category=tops" class="dropdown-item">All Tops</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-4" href="#" id="pants-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pants
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="pants-link">
                <a href="{% url 'products'%}?style=jeans" class="dropdown-item">Jeans</a>
                <a href="{% url 'products'%}?style=trousers" class="dropdown-item">Trousers</a>
                <a href="{% url 'products'%}?style=joggers" class="dropdown-item">Joggers</a>
                <a href="{% url 'products'%}?category=pants" class="dropdown-item">All Pants</a>
            </div>
        </li>
        
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-4" href="#" id="outfits-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Outfits
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="outfits-link">
                <a href="{% url 'products'%}?style=casual" class="dropdown-item">Casual</a>
                <a href="{% url 'products'%}?style=smart" class="dropdown-item">Smart</a>
                <a href="{% url 'products'%}?style=tracksuit" class="dropdown-item">Tracksuits</a>
                <a href="{% url 'products'%}?category=outfits" class="dropdown-item">All Outfits</a>
            </div>
        </li>
    </ul>
</div>