{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mt-2 mb-3">Management Dashboard</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <h4 class="text-center">Administration Controls</h4>
                <hr class="short-rule">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-4">
                                <div class="text-center">
                                    <a href="{% url 'add_product' account.id%}" class="text-white btn btn-black btn-slim text-uppercase">Add Product</a>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="text-center">
                                    <a href="{% url 'retailer_requests' %}" class="text-white btn btn-black btn-slim text-uppercase">Retailer Requests</a>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="text-center">
                                    <a href="{% url 'premium_cancel_requests' %}" class="text-white btn btn-black btn-slim text-uppercase">Premium Cancelations</a>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-4">
                                <div class="text-center">
                                    <a href="{% url 'order_cancel_requests' %}" class="text-white btn btn-black btn-slim text-uppercase">Order Cancellations</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <h4 class="text-center">Tribal Fashion Products</h4>
                <hr class="short-rule">
                {% for product in products %}
                {% if product.seller == 'Tribal Fashion' %}
                <div class="row">
                    <div class="col-8 offset-2">
                        <div class="row">
                            <div class="col-3 mb-1">
                                <a href="{% url 'product_details' product.id %}">
                                    {% if product.image %}
                                    <img class="w-100" src="{{ product.image.url }}" alt="{{ product.name }}">
                                    {% else %}
                                    <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                    {% endif %}
                                </a>
                            </div>
                            <div class="col-5">
                                <div class="col-8">
                                    <p class="my-0"><strong>{{ product.name }}</strong></p>
                                    <p class="my-0 small text-muted">${{ product.price }}</p>
                                </div>
                                <div class="col-4">
                                    <div class="text-center">
                                        <a href="{% url 'remove_tribal_product' product.id %}" class="text-white btn btn-black btn-slim text-uppercase">Remove</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}