{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container premium-cancel-requests">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mt-2">Premium Cancelation Requests</h2>
                <hr>
                <a href="{% url 'management_dashboard' %}" class="btn rounded-0 mt-0 mb-3">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Back to Dashboard</span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-10 col-md-4 offset-1 border-black mb-5">
                <h5 class="mt-2 mb-2 font-weight-bold">Retailer: {{ retailer.user.username }}</h5>
                <hr>
                <p class="font-weight-bold">Name: {{ retailer.first_name }} {{ retailer.last_name }}</p>
                <form action="{% url 'approve_cancelation' retailer.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="text-white btn btn-black btn-slim text-uppercase mb-2">Approve Cancelation</button>
                </form>
            </div>
            <div class="col-10 col-md-5 offset-1">
                {% for request in requests %}
                {% if request.cancel_subscription %}
                    <div class="row">
                        <h5 class="text-black mt-1">{{ request.user.username }}</h5>
                        <a href="{% url 'approve_cancelation' request.id %}" class="text-white btn btn-black btn-slim text-uppercase ml-3">Approve</a>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}